<div class="container">
  <div class="scrm_container">
    <div class="row">
      <div class="col">
        <h1 class="scrm_fade-inn display-1">
          <span style="color: #0D6EFD">scrumr</span>
          <span>&nbsp;</span>
          <span>-</span>
          <span>&nbsp;</span>
          <span>The</span>
          <span>&nbsp;</span>
          <span>Simple</span>
          <span>&nbsp;</span>
          <span>Project</span>
          <span>&nbsp;</span>
          <span>Management</span>
          <span>&nbsp;</span>
          <span>Tool</span>
          <span>.</span>
        </h1>
      </div>
    </div>
    <!--
        <div class="row">
          <div class="col">
            <h1 class="scrm_fade-inn scrm_animation-delay scrm_sub-headline">
              <span>maximize</span>
              <span>&nbsp;</span>
              <span>your</span>
              <span>&nbsp;</span>
              <span>productivity</span>
              <span>&nbsp;</span>
              <span>and</span>
              <span>&nbsp;</span>
              <span>optimize</span>
              <span>&nbsp;</span>
              <span>your</span>
              <span>&nbsp;</span>
              <span>workflows</span>
              <span>.</span>
            </h1>
            <h1 class="scrm_delete-animation">
              <div class="message">
                <div class="word1">faster</div>
                <div class="word2">smarter</div>
                <div class="word3">more successfully!</div>
              </div>
            </h1>
          </div>
        </div>-->
  </div>
</div>


